<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="page-header">
      <h1>New List for <span class="text-info"><%= @board.name %></span></h1>
    </div>
    <%= render 'form', list: @list, board: @board %>
  </div>
</div>
