<div class="col-xs-12 col-sm-3">
  <div class="panel panel-default">
    <%= link_to board do %>
      <div class="panel-body">
        <h3 class="panel-title"><%= board.name %></h3>
      </div>
    <% end %>
  </div>
</div>
