<h1>Boards</h1>

<div class="row">
  <%= render @boards %>

  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <%= link_to new_board_path do %>
        <div class="panel-body">
          <h3 class="panel-title">Create new board...</h3>
        </div>
      <% end %>
    </div>
  </div>
</div>
