<h3><%= @board.name %>
  <span class="label label-info pull-right"><%= @board.visibility %></span>
</h3>

<hr/>

<div class="row">
  <%= render partial: 'list', collection: @lists %>
</div>

<%= link_to 'Back', boards_path %>
